FieldServiceRecord/bin/
FieldServiceRecord/obj/
packages/
iOS/obj/
iOS/bin/
Droid/bin/
Droid/obj/
*.cache

Droid/obj/Debug/libraryprojectimports.cache

Droid/obj/Debug/libraryprojectimports.cache

Droid/obj/Debug/libraryimports.cache
